.metadata {
	font-family: 'Bree Serif', serif;
	min-height: 120px;
	border-bottom: 1px lightgrey solid;
}

#some-jerk {
	margin: -10px 10px;
	width: 40%;
	float: left;
}

img.avatar {
	padding: 10px;
	float: left;
}

.buzzwords {
	float: right;
	width: 50%;
}

ul {
	column-count: 4;
	-webkit-column-count: 4;
	-moz-column-count: 4;
}

a {
	font-weight: normal;
	color: orange;
	text-decoration: none;
}
a:visited {
	color: orange;
}
a:hover {
	color: lightgrey;
	/*text-decoration: underline;*/
}